html, body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #131313;
    background-color: #fff;
}

input {
    margin: 30px 15px;
}

/* #dragonfly-list {
    display: block;
    color:red;

}

#dragonfly-list .name {
    list-style-type: none;
} */

table {
    margin: 0 auto;
    table-layout: auto;
    width: auto;
    border-collapse: collapse;
    background-color: #adc2eb;
    /* color: white; */
    /* border: 2px solid gray; */
    /* color: #4472C4; */
  }

  .table-section {
    margin-bottom: 30px;
}
  
  /* thead th:nth-child(1) {
    width: 20%;
  }
  
  thead th:nth-child(2) {
    width: 30%;
  }
  
  thead th:nth-child(3) {
    width: 50%;
  } */
  
  
  td {
    padding: 7px;
    letter-spacing: 1px;
  }
  
  th {
    letter-spacing: 2px;
  }
    
  /* tbody td {
    text-align: center;
  }
  
  tfoot th {
    text-align: center;
  } */
  
  tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  
  tbody tr:nth-child(even) {
    /* background-color: black; */
    color: white;
  }

.name {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  border: 3px solid blue;
}

  #family {
    /* display: flex; */
    color: #404040;
    font-size: 14px;
    min-width: 150px;
    border: 2px solid red;
  }

  #scientific {
    /* display: flex;   */
    color: #131313;
    font-size: 16px;
    font-weight: bold;
    min-width: 325px;
    border: 2px solid yellow;
  }

  #english {
    /* display: flex; */
    color: #131313;
    font-size: 16px;
    border: 2px solid red;
  }

.flex-container {
  padding: 0;
  margin: 0;
  border: 1px solid silver;
  display: flex;
  flex-wrap: wrap;
}

  .flex-item {
    background: gold;
    padding: 5px;
    width: 300px;
    height: 100px;
    margin: 10px;
    
    /* line-height: 100px; */
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}